 @media (max-width: $screen-xs-max) {
     // Mobile
     .homepage-nav {
         height: auto;
         .navbar-nav {
             margin: 0px;
         }
         .navbar-brand {
             display: block;
             img {
                 width: 130px;
             }
         }
         .left-nav-img .img2 {
             height: auto;
         }
         .left-nav-img img {
             height: auto;
         }
     }
     .cust-nav {
         .navbar-nav {
             text-align: center;
             margin: 0 auto;
             float: none;
         }
     }
     .border-right {
         border: none;
     }
     .border-bottom {
         border: none;
     }
     .cust-btn{
        padding: 5px 15px;
        font-size:10px;
     }

     //home page
     .h3{
        font-size:20px;
    }
    p{
        font-size:12px;
    }
     .s1 {
         text-align: center;
         padding: 0px;
         img {
             margin-right: 8%;
         }
         p{
            font-size:12px;
        }
        
        
     }
     .s3 {
         margin:0px;
        .block1 {
            border-right: none;
            text-align: center;
            padding-bottom: 0px;
           
        }

     }
     .s4 {
         .container-fluid{
             padding:0px;
         }
        .block1 {
            margin: 0px;
            .title{
                padding-top:20px;
                padding-left:0px;
                text-align:center;
            }
          .tabset {
            padding-bottom: 40px;
            .tab{
                margin: 15px 0px;
                padding:5px;
              }
          }
        }
     }


     .s5 {
        .container-fluid{
            padding:0px;
        }
        .newsletter {
            border-right: 0px;
            text-align: center;
        }
        .quiz {
            text-align: center;
            padding-left:0px;
          
        }
        .icon {
            width: 55px;
        }
         .nextpage{
             position: unset;
             width:60%;
         }
         .left{
            padding-right: 10px;
            padding-left: 10px;
         }
      
     }


     .s6 .block1 {
         border-right: 0px;
         padding: 0px;
     }
     .s6 .block2 {
         padding: 0px;
         padding-top: 25px;
     }
     .s6 .title {
         font-size: 15px;
     }
     .s6 .block1 .subscribe_field input[type=email] {
         font-size: 12px;
     }
     .s6 .block2 .nomination_form .field input {
         width: 40%;
     }
 }