<div class="gallery-inside-bg ">
    <div class="container-fluid">
        <div class="head">
            <div class="tit tit-gallery">
                <span>GALLERY</span>
                <span class="pull-right">EPISODE</span>
            </div>
            <img src="img/gallery.png" class="img-responsive doneLoading">
        </div>
    </div>
    <div class="container">
        <div class="gallery-inside">
            <div class="search-episode">
                <div class="row">
                    <div class="col-md-4 col-md-offset-8 col-sm-4 col-sm-offset-8 col-xs-6 col-xs-offset-6">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term" ng-model="searchName">
                            <div class="input-group-btn">
                                <button class="btn-search" type="submit">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         
            <div class="season-common" ng-repeat="x in seasonList track by $index">
                <div class="min-height-season" ng-class="{'max-height-season' : more[$index] == true  , 'min-height-season':more[$index] == false}" class="seasonOpacity">
                    <div class="season-text">
                        <div class="season-name">{{x._id }}</div>
                    </div>
                    <div class="row ">

                        <div class="col-md-12" ng-show="x.data.length == 0">
                            <h4> No Data found</h4>
                        </div>
                        <div class="col-md-2 col-sm-4 col-xs-6 episode-bottom" ng-repeat="itemSeason in x.data | filter: searchName">
                            <div class="episodes">
                                <img ng-src="http://img.youtube.com/vi/{{convertUrltoID(itemSeason.url)}}/hqdefault.jpg" class="img-responsive img-full">
                                <div class="video-icon">
                                    <a class="fancybox.iframe" ng-href="https://www.youtube.com/embed/{{convertUrltoID(itemSeason.url)}}?autoplay=1" fancybox>
                                        <img src="img/youtube-small.png" class="img-responsive">
                                    </a>
                                </div>
                                <p class="text-center">{{itemSeason.name}}</p>
                                <p class="text-center hidden">{{itemSeason.keyword}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pull-right gallery-btn">
                    <button ng-click="viewMore($index)" class="view-btn" ng-if="view[$index]==true ">
                            <i class="fa fa-plus-square" aria-hidden="true"></i>
                        
                    </button>
                    <button ng-click="viewLess($index)" class="view-btn" ng-if="!view[$index]==true">
                            <i class="fa fa-minus-square" aria-hidden="true"></i>
                        
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>