<div class="gallery-inside-bg gallery_photo">
    <div class="container-fluid">
        <div class="head head-gallery">
            <div class="tit tit-gallery"><span>GALLERY</span> <span class="pull-right">PHOTOS</span></div>
            <img src="img/gallery.png" class="img-responsive doneLoading">
        </div>
    </div>
    <div class="container">
        <div class="gallery-inside">
            <div class="season-common">
                <div ng-class="{'max-height-gallery' : more3 == true , 'min-height-gallery':more3 == false}">
                    <div class="season-text">
                        <div class="season-name">Season 4</div>
                    </div>
                    <div class="row ">
                        <div class="col-md-2 col-sm-4 col-xs-6 gallery-pic-bottom img-height" ng-repeat="img in season4 track by $index ">
                            <a fancybox href="{{img.img1}}">
                                <img ng-src="{{img.img1}}" class="img-responsive photo">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="pull-right gallery-btn">
                    <button ng-click="viewMore3()" class="view-btn" ng-if="view3"><i class="fa fa-plus-square" aria-hidden="true"></i></button>
                    <button ng-click="viewLess3()" class="view-btn" ng-if="!view3"><i class="fa fa-minus-square" aria-hidden="true"></i></button>
                </div>
            </div>
            <div class="season-common">
                <div ng-class="{'max-height-gallery' : more2 == true , 'min-height-gallery':more2 == false}">
                    <div class="season-text">
                        <div class="season-name">Season 3</div>
                    </div>
                    <div class="row ">
                        <div class="col-md-2 col-sm-4 col-xs-6 gallery-pic-bottom img-height" ng-repeat="img in season3 track by $index">
                            <a fancybox href="{{img.img1}}">
                                <img ng-src="{{img.img1}}" class="img-responsive photo ">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="pull-right gallery-btn">
                    <button ng-click="viewMore2()" class="view-btn"  ng-if="view2"><i class="fa fa-plus-square" aria-hidden="true"></i></button>
                    <button ng-click="viewLess2()" class="view-btn" ng-if="!view2"><i class="fa fa-minus-square" aria-hidden="true"></i></button>
                </div>
            </div>
            <div class="season-common">
                <div ng-class="{'max-height-gallery' : more1 == true , 'min-height-gallery':more1 == false}">
                    <div class="season-text">
                        <div class="season-name">Season 2</div>
                    </div>
                    <div class="row ">
                        <div class="col-md-2 col-sm-4 col-xs-6 gallery-pic-bottom img-height" ng-repeat="img in season2 track by $index ">
                            <a fancybox href="{{img.img1}}">
                                <img ng-src="{{img.img1}}" class="img-responsive photo">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="pull-right gallery-btn">
                    <button ng-click="viewMore1()" class="view-btn"  ng-if="view1"><i class="fa fa-plus-square" aria-hidden="true"></i></button>
                    <button ng-click="viewLess1()" class="view-btn" ng-if="!view1"><i class="fa fa-minus-square" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>