<div class="gallery-inside-bg testimonial">
    <div class="container-fluid" ng-init="i=0">
        <div class="head head-test">
            <div class="tit tit-gallery">
                <span>Quick Bites</span>
                <!-- <span class="pull-right text-uppercase test-title">what people are saying about us?</span> -->
            </div>
            <img src="img/quick.png" class="img-responsive doneLoading">
        </div>
    </div>
    <div class="container">

        <!-- <div class="test-bottom style-1" ng-mouseenter="stopAutoScroll()" ng-mouseleave="startAutoScroll()" > -->
        <div class="test-bottom style-1" >
         
            <!-- <div class="custom_scroll">
                <div class="scroll_thumb"></div>
            </div> -->
    
            <div class="test-common" ng-repeat="q in quickData track by $index">
                      
                <div class="test-inner">
                       <div class="quotes">
                            <img src="img/quotes.png" class="img-responsive">
                        </div>
                    <p ng-bind-html="q.description">
                    </p>
                </div>
                <div class="text-right test-name">
                    <h4>{{q.name}} </h4>
                    <h5>{{q.designation}} </h5>
                </div>
            </div>

        </div>
    </div>
</div>