<div class="gallery-inside-bg testimonial">
    <div class="container-fluid">
        <div class="head head-test">
            <div class="tit tit-gallery">
                <span>what people are saying about us</span>
                <!-- <span class="pull-right text-uppercase test-title">what people are saying about us?</span> -->
            </div>
            <img src="img/testimonial.png" class="img-responsive doneLoading">
        </div>
    </div>
    <div class="container">

        <div class="test-bottom style-1" >
            <!-- <div class="custom_scroll">
                <div class="scroll_thumb"></div>
            </div> -->
    
            <div class="test-common" ng-repeat="s in testData track by $index">
                 <div class="test-inner">
                       <div class="quotes">
                            <i class="fa fa-quote-left" aria-hidden="true"></i>
                        </div>
                    <p class="end_quote" ng-bind-html="s.description">
                    </p>
                    <!-- <div class="quotes1">
                            <i class="fa fa-quote-right" aria-hidden="true"></i>
                        </div> -->
                </div>
                <div class="text-right test-name">
                    <h4>{{s.name}} </h4>
                    <h5>{{s.designation}} </h5>
                </div>
            </div>

        </div>
    </div>
</div>