<div class="model aboutus_model">
    <div class="h3 heading"><span class="">ABOUT US</span>
        <hr>
    </div>
    <div class="model_content">
        <p>About Nse Finwiz Conceptualised By The National Stock Exchange (Nse), 'nse Finwiz' Aims To Improve Levels Of Financial
            Literacy And Education To Enable, Empower And Enrich Young Indians.</p>
        <p>'nse Finwiz' In Its Fifth Season, Is A 25-episode Series That Will Be Aired On Cnbc-tv18</p>
        <p>In Our Continued Endeavour To Educate Investors And Help Them Make Informed Investments, 'nse Finwiz' Is An Investor
            Education Show That Will Travel Pan-india To Various Corporates Across Sectors In An Initiative To Educate The
            Younger Generation Of First-time Working Professionals In Those Corporates And Inform Them About The Merits Of
            Investing And Other Issues Pertaining To Trading And Savings. This Will Be Held Through Various Ground Events
            Like Seminars And Panel Discussions In Different Cities, Keeping In Mind The Curiosity Of The Newbie Investor
            And To Satiate His / Her Appetite To Double Their Money By Taking Very Informed And Mature Investing Decisions.</p>
        <p>Through 'nse Finwiz', The Aim Is To Provide Awareness To The Young Professionals In Companies To Make The Right Investing
            Decisions With Advice From Credible Financial Specialists Who Will Teach Them About The Current Market Conditions
            And How Best To Approach The Field Of Investing. Our Endeavour Is To Provide Forums For Direct Interaction With
            Retail Investors, Industry Experts, Academicians, Practitioners And Representatives Of Regulatory Bodies For
            Investment Education And Advice.</p>
    </div>
    <div class="close_model cursor_pointer" ng-click="$dismiss()"><i class="fa fa-times-circle" aria-hidden="true"></i></div>
</div>