<div class="model aboutus_model">
    <div class="h3 heading"><span class="">ABOUT US</span>
        <hr>
    </div>
    <div class="model_content">

        <p>ABOUT NSE FINWIZ Conceptualised by the National Stock Exchange (NSE) in association with CNBC-TV18, 'NSE Fin Wiz'
            is part of the NSE LIFE. The purpose of NSE LIFE is to improve levels if financial literacy and education to
            enable, empower and enrich young Indians.</p>
        <p>'NSE Fin Wiz' in its fourth season, is a 20-episode series that will be aired on CNBC-TV18</p>
        <p>In our continued endeavour to educate investors and help them make informed investments, 'NSE Fin Wiz' is an Investor
            Education show that will travel pan-India to various corporates across sectors in an initiative to educate the
            younger generation of first-time working professionals in those corporates and inform them about the merits of
            investing and other issues pertaining to trading and savings. This will be held through various ground events
            like seminars and panel discussions in different cities, keeping in mind the curiosity of the newbie investor
            and to satiate his / her appetite to double their money by taking very informed and mature investing decisions.</p>
        <p>Through 'NSE Fin Wiz', the aim is to provide awareness to the young professionals in Companies to make the right
            investing decisions with advice from credible financial specialists who will teach them about the current market
            conditions and how best to approach the field of investing. Our endeavour is to provide forums for direct interaction
            with retail investors, industry experts, academicians, practitioners and representatives of regulatory bodies
            for investment education and advice.</p>
    </div>
    <div class="close_model cursor_pointer" ng-click="$dismiss()"><i class="fa fa-times-circle" aria-hidden="true"></i></div>


</div>