<div class="model quizlogin_model">
    <div class="head">
        <!-- <div class="tit"><span>LOGIN</span></div> -->
        <div class="tit"><span>Quiz</span></div>
        
    </div>

    <!-- <div class="login_form">
        <div class="t1">Kindly login to participate</div>
        <form name='quizlogin'>
            <div class="field"><span>Name</span><input type="text"></div>
            <div class="field"><span>Email</span><input type="email"></div>
            <div class="field"><span>Contact</span><input type="number"></div>

            <div class="text-center">
                <div class="btn btn-primary cust-btn">ENTER</div>
            </div>
        </form>
    </div> -->
 

    <div class="close_model cursor_pointer" ng-click="$dismiss()"><i class="fa fa-times-circle" aria-hidden="true"></i></div> 
<div class="coming_s">
    coming Soon
</div>
</div>