<footer ng-controller="footerCtrl" class="footer">
    <div class="container-fluid ">
        <div class="row">
            <div class="footer-nav bg-second">
                <!-- <ul>
                    <li ng-repeat="x in footerNav">
                        <a ng-if="x.model" ng-click="">{{x.model}} </a>
                        <a href="#" ng-if="!x.model"> {{x.name}}</a>
                    </li>
                </ul> -->
                <ul>
                    <li>
                        <a ng-click="goToAnchor('home','about')"> About</a>
                    </li>
                    <li>
                        <a ui-sref="article"> Articles </a>
                    </li>
                    <li>
                        <a href="#"> Quick Bites </a>
                    </li>
                    <li>
                        <a href="#" ui-sref="testimonial"> Testimonials </a>
                    </li>
                    <li>
                        <a href="#" ui-sref="vlogs"> VLogs </a>
                    </li>
                    <li>
                        <a href="#" ng-click="goToAnchor('home','gallery')"> Gallery</a>
                    </li>
                    <li>
                        <a href="#" ng-click='openQuizModel()'> Quiz </a>
                    </li>
                    <li>
                        <a href="#" ng-click="goToAnchor('home','subscribe_nominate')"> Nominate your Company </a>
                    </li>
                    <li>
                        <a href="#">Site Map</a>
                    </li>
                    <li>
                        <a href="#" ng-click="opendisclaimer()"> Disclaimer</a>
                    </li>
                    <li>
                        <a href="#" ng-click="openterms()"> Terms </a>
                    </li>
                </ul>
            </div>
            <div class="text-center bg-first">
                <div class="footer-img">
                    <img src="img/footer.png" class="img-responsive">
                </div>
                <!-- <div class="disclaimer">
                    This Program, videos and content broadcasted by CNBC TV18 are meant for educational and information purposes only. The information
                    contained in the program or videos including, text, graphics or other items are provided on “as is” basis
                    and “as available” basis. NSEIL does not warrant the accuracy, adequacy or completeness of this information
                    & material and expressly disclaims liability for errors or omission in the information and material broadcasted
                    in the program. No warranty of express or statutory including but not limited to the warranties of non-
                    infringement of third party rights, title, merchantability and fitness for a particular purpose is given
                    in conjunction with the information and materials. In no event, will NSEIL be liable for any damages,
                    including without limitation direct or indirect, special, incidental or consequential damages, losses
                    or expenses arising in connection with this program or use thereof or inability to use by any party,
                    or in connection with any failure of performance, error, omission, interruption, defect, even if NSEIL
                    or its representative thereof, are advised of the possibility of such damages, losses or expenses. Please
                    read full document and Disclaimers in relation to any investment scheme documents before making any decision.
                    Neither NSEIL nor any of its group companies are acting as an investment adviser or fiduciary. Accordingly,
                    the viewer of the program/ investors must independently determine, in consultation with their own advisors,
                    whether any investments decision taken based on the program or video are appropriate for their purposes.
                </div> -->
            </div>


        </div>
    </div>
</footer>