<header ng-controller="NavbarCtrl">

    <!-- nav for home page -->
    <nav class="navbar navbar-default homepage-nav" ng-if="homepage">
        <div class="container_fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
                <a class="navbar-brand" ui-sref="home"><img src="img/logo.png" class="navbrand" alt="logo" width="20"> </a>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="collapse navbar-collapse" id="nav-collapse">
                    <div ng-include="template.menu" class="template menu"></div>
                </div>
            </div>
            <div class="col-md-9 col-sm-9">
                <div class="h_inmobile">
                    <!-- <img class="img-responsive" src="img/headerimg.png">
                    <img class="img-responsive img2" src="img/headerimg1.png"> -->

                    <swiper autoplay="2000" speed="1000" effect="fade" slides-per-view="1" loop="true">
                        <!-- effect Could be "slide", "fade", "cube", "coverflow" or "flip" -->
                        <slides>
                            <slide class="left-nav-img">
                                <img class="img-responsive" src="img/banner/headerimg.png" noloading="true">
                                
                                <!-- <img class="img-responsive img2" src="img/banner/headerimg1.png" noloading="true"> -->
                            </slide>
                            <slide class="left-nav-img">
                                <!-- <img class="img-responsive" src="img/headerimg.png" noloading="true"> -->
                                <img class="img-responsive img2" src="img/banner/1.jpg" noloading="true">
                                <!-- <div class="txt_center"><div class="txt">Dream ON</div></div> -->
                            </slide>
                            <slide class="left-nav-img">
                                <!-- <img class="img-responsive" src="img/headerimg.png" noloading="true"> -->
                                <!-- <img class="img-responsive img2" src="img/headerimg1.png" noloading="true"> -->
                                <img class="img-responsive img2" src="img/banner/2.jpg" noloading="true">
                                <!-- <div class="txt_center"><div class="txt">Dream ON</div></div> -->
                            </slide>
                            <slide class="left-nav-img">
                                <img class="img-responsive img2" src="img/banner/3.jpg" noloading="true">
                                <!-- <div class="txt_center"><div class="txt">Dream ON</div></div> -->
                            </slide>
                        </slides>
                        <!-- <prev></prev>
                        <next></next>
                        <pagination></pagination> -->
                    </swiper>
                </div>
            </div>
    </nav>

    <!-- nav for other inside page -->
    <nav class="navbar navbar-default navbar-fixed-top cust-nav" ng-if="!homepage">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
                <a class="navbar-brand" ui-sref="home"><img src="img/logo.png" alt="logo" width="20"> </a>
            </div>
            <div class="collapse navbar-collapse" id="nav-collapse">
                <ul class="nav navbar-nav">
                    <li ng-repeat="menu in navigation" ui-sref-active="active">
                        <a ui-sref="{{menu.anchor}}" ng-click="goToAnchor(menu.anchor,menu.id)" ng-if="menu.anchor">{{menu.name}}</a>
                        <!-- <a ui-sref="{{menu.anchor}}" ng-if="menu.anchor">{{menu.name}}</a> -->
                        <a href="{{menu.link}}" ng-if="menu.link">{{menu.name}}</a>
                        <ul class="dropdown-menu" ng-if="menu.subnav!='';">
                            <li ng-repeat="submenu in menu.subnav" ui-sref-active="active">
                                <a ui-serf="{{submenu.anchor}}" ng-if="submenu.anchor">{{submenu.name}}</a>
                                <a herf="{{submenu.link}}" ng-if="submenu.link">{{submenu.name}}</a>
                            </li>
                            <li>
                        </ul>
                        </li>
                        <li>
                            <div class="social_nav">
                                <a href="https://www.facebook.com/NSEFinWiz/" target="_blank"> <img src="img/social/facebook.png"></a>
                                <a href="https://twitter.com/NSEFinWiz" target="_blank"><img src="img/social/twitter.png"></a>
                                <a href="https://www.instagram.com/nsefinwiz/" target="_blank"> <img src="img/social/instagram.png"></a>

                            </div>
                        </li>
                </ul>
            </div>
        </div>
    </nav>
</header>